!!! 5
%html{:lang => "en"}
  %head
    %meta{charset: "UTF-8"}

    %title Dirk Kelly

    %meta{name: "description", content: "Rider of Bicycles and Boarder of Snow"}
    %link{rel: "stylesheet", type: "text/css", href: "/stylesheets/application.css"}
    %link{rel: "icon", href: "http://www.gravatar.com/avatar/54e87668b24ca9df8af5454b271e6176.png"}
  %body
    #wrapper
      %header#header
        %hgroup
          %h1= link_to "Dirk Kelly", 'http://dirkkelly.com'
        %nav
          %ul#primary-nav
            %li= link_to "github", 'http://github.com/dirkkelly'
            %li= link_to "twitter", 'http://twitter.com/dirkkelly'
            %li= link_to "tumblr", 'http://dirkkelly.tumblr.com'
            %li= link_to "pivotal", 'http://pivotallabs.com/users/dkelly/blog'
      = yield

    %script{src: "http://code.jquery.com/jquery-1.7.min.js"}
    %script{src: "/javascripts/application.js"}
